* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* width: 50%; */
  width: 100%;
  background-color: #e9ecef;
  /* margin: 0 auto; */
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.container {
  width: 400px;
}
.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.firstToDoList {
  background-color: #ff6b6b;
  padding: 50px 50px;
  margin: 50px 50px;
}
.secondToDoList {
  background-color: #94d82d;
  padding: 50px 50px;
  margin: 50px 50px;
}
.thirdToDoList {
  background-color: #51cf66;
  padding: 50px 50px;
  margin: 50px 50px;
}
.heading {
  width: 400;
  text-align: center;
}

#inputField,
#inputField2,
#inputField3 {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo,
#addToDo2,
#addToDo3 {
  height: 50px;
  width: 70px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}

.to-dos {
  margin-top: 25px;
}

.paragraph-styling {
  margin: 0;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 24px;
  border: 0.2px solid black;
  background-color: white;
  width: 93%;
}
